# Path to the Laravel app.
SOURCE_PATH=./src
# PHP CLI version.
PHP_CLI_VERSION=7.3
# PHP FPM version.
PHP_FPM_VERSION=7.3
# Node.JS version on CLI.
NODE_VERSION=16
# List of PHP extensions to be installed on CLI.
PHP_CLI_EXTENSIONS=gd xdebug zip
# List of PHP extensions to be installed on PHP-FPM.
PHP_FPM_EXTENSIONS=gd zip
# Nginx server port.
NGINX_PORT=80